{% extends "base.html" %}

{% block title %}Upload File{% endblock %}

{% block content %}
<nav class="text-sm text-gray-600 mb-4">
    <a href="/" class="hover:text-gray-800">Home</a> > <span>File Upload</span>
</nav>
<div class="space-y-4">
    <!--    Upload card-->
    <div class="bg-white shadow-md rounded-lg p-6 max-w-full mx-auto">
        <h1 class="text-xl font-bold mb-12">Upload a Text File</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div>
                {{ form.file.label_tag }}
                {{ form.file }}
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Upload</button>
        </form>
    </div>
</div>

    <!--    Rendering card, show whether error or table-->
    {% if error or not pnl.empty %}
    <div class="bg-white shadow-md rounded-lg p-6 max-w-full mx-auto">
        {% if error %}
        <div class="mt-4 text-red-500">
            {{ error }}
        </div>
        {% endif %}

        {% if not pnl.empty %}
        <div class="mt-4">
            <h2 class="text-lg font-bold mb-2">Results: <u>{{ form.file.data.name }}</u></h2>
            <h3 class="text-lg mb-2">P&L Statistics</h3>

            <div class="overflow-y-auto max-h-80 relative">

                <table class="table-auto overflow-scroll w-full border-collapse border border-gray-300">

                    <thead class="sticky top-0 bg-gray-100">
                    <tr>
                        {% for col in pnl.columns %}
                        <th class="border px-4 py-2 ">{{col}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in pnl.values %}
                    <tr>
                        {% for cell in row %}
                        <td class="border px-4 py-2
                            {% if cell|default:'' and cell|stringformat:'s'|add:0 > 0 %}
                                text-green-700 font-bold
                            {% elif cell|default:'' and cell|stringformat:'s'|add:0 < 0 %}
                                text-red-700 font-bold
                            {% endif %}">
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-4">
            <h3 class="text-lg mb-2">Current Positions</h3>
            <div class="overflow-y-auto max-h-80 relative">

                <table class="table-auto overflow-scroll w-full border-collapse border border-gray-300">

                    <thead class="sticky top-0 bg-gray-100">
                    <tr>
                        {% for col in current_positions.columns %}
                        <th class="border px-4 py-2 ">{{col}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in current_positions.values %}
                    <tr>
                        {% for cell in row %}
                        <td class="border px-4 py-2
                                {% if cell == 'BUY' %}
                                text-green-700 font-bold
                                {% elif cell == 'SELL' %}
                                text-red-700 font-bold
                                {% elif cell|default:'' and cell|stringformat:'s'|add:0 > 0 %}
                                text-green-700 font-bold
                                {% elif cell|default:'' and cell|stringformat:'s'|add:0 < 0 %}
                                text-red-700 font-bold
                                {% endif %}
                        ">
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}